* {
  font-family: "Righteous", sans-serif;
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.left-side {
  height: 100%;
  width: 15%;
  background-color: #6f1c9bcc;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.right-side {
  height: 100%;
  width: 15%;
  background-color: #d325c0cc;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.game-section {
  height: 100%;
  width: 70%;
  background-image: linear-gradient(rgb(225, 57, 234), rgb(78, 28, 119));
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-section-titles {
  height: 30%;
}

.game-section-buttons,
.game-section-choices {
  display: flex;
}

h1 {
  font-size: 10vh;
  text-shadow: 0 0 5px #53ff00, 0 0 10px #00bfff;
}

h2 {
  font-size: 5vh;
  text-align: center;
  text-shadow: 0 0 5px #53ff00, 0 0 10px #00bfff;
}

p {
  font-size: xx-large;
  text-align: center;
  color: white;
  margin-top: 50px;
}

.button {
  background: aqua;
  height: auto;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: chartreuse;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

img {
  width: 200px;
  height: auto;
  margin: 10px;
}

img:hover {
  background-color: chartreuse;
  border-radius: 5px;
}

#classicFighters,
#difficultFighters {
  height: auto;
  margin: 20px;
}

.hidden {
  display: none;
}
